$body_bg_color: #f5f5f5;
$box_shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
0 3px 1px -2px rgba(0, 0, 0, .2),
0 1px 5px 0 rgba(0, 0, 0, .12);
tr.is-showing {
    border-left: 2px solid #03a9f4;
}

.qor-table__version th {
    background-color: #f5f5f5;
}

.qor-pulish2__action-sharedversion {
    margin-bottom: 16px;
    .mdl-switch__label {
        font-size: 14px;
    }
}

.qor-publish2__version {
    text-decoration: none;
}

.qor-publish2__button {
    a>span {
        display: none;
    }
}

.qor-publish2__live {
    margin-right: 36px;
    min-width: 16px;
    display: inline-block;
    .qor-symbol {
        display: inline-block;
        vertical-align: middle;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        &.qor-symbol-blue {
            background-color: #72dc1e;
        }
        &.qor-symbol-yellow {
            background-color: #f4b903;
        }
    }
}

.qor-table {
    .material-icons {
        vertical-align: middle;
        &:empty {
            display: none;
        }
    }
}

.qor-table--medialibrary {
    .qor-publish2__button {
        height: 35px;
        display: block;
        a {
            display: block;
            height: 24px;
            line-height: 24px;
            padding-top: 10px;
            padding-left: 16px;
            margin: 6px -16px -8px -16px;
            border-top: 1px solid rgba(0, 0, 0, .12);
            i {
                display: none;
            }
            >span {
                display: block;
            }
        }
    }
    .qor-table__version {
        .qor-publish2__live {
            position: static;
            .qor-symbol {
                display: inline-block;
                vertical-align: middle;
                width: 12px;
                height: 12px;
                border-radius: 100%;
                border: 0;
                &.qor-symbol-blue {
                    background-color: #72dc1e;
                }
                &.qor-symbol-yellow {
                    background-color: #f4b903;
                }
            }
        }
    }
    .qor-publish2__live {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        .qor-symbol {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 24px 24px 0 0;
            border-radius: 0;
            &.qor-symbol-blue {
                background: none;
                border-color: #72dc1e transparent transparent transparent;
            }
            &.qor-symbol-yellow {
                background: none;
                border-color: #f4b903 transparent transparent transparent;
            }
        }
    }
    tr.is-showing {
        border: 0;
        .qor-table--medialibrary-item {
            border: 2px solid #03a9f4;
            z-index: 3000;
            overflow: inherit;
        }
    }
    tr.qor-table__inner-list {
        width: 100%;
        td {
            width: 100%;
        }
        .qor-table__inner-block {
            padding: 0 0 24px 0;
        }
    }
}

.qor-action-forms+.qor-pulish2__action {
    margin-top: 60px;
}

.qor-pulish2__action {
    display: none;
    margin: 0 0 24px;
    .qor-pulish2__eventid {
        padding-top: 0;
    }
    .qor-pulish2__action-input:disabled {
        color: #999;
    }
    .qor-field__selectone {
        padding-bottom: 0;
    }
    .qor-field__selectone-trigger {
        margin-left: 0 !important;
    }
}

.qor-slideout .qor-pulish2__action {
    display: block !important;
}

div.qor-table__inner-list {
    position: absolute;
    left: 24px;
    right: 24px;
    z-index: 2999;
    /* max-height: 400px; */
    /* overflow-y: auto; */
    padding: 24px;
    background-color: $body_bg_color;
    box-shadow: $box_shadow;
}

tr.qor-table__inner-list {
    background-color: $body_bg_color;
    &:hover {
        background-color: $body_bg_color !important;
    }
    >td {
        padding: 0 !important;
    }
    .qor-table__inner-block {
        position: relative !important;
        padding: 24px;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 10px;
            top: 0;
            bottom: 0;
            background-color: $body_bg_color;
        }
        &::before {
            left: -10px;
        }
        &::after {
            right: -10px;
        }
    }
}

.qor-table__version {
    width: 100%;
    z-index: 10;
    box-shadow: $box_shadow;
    .qor-publish2__button,
    .qor-symbol-yellow {
        display: none !important;
    }
}

.qor-page__show .qor-pulish2__action .qor-field__edit {
    display: block;
}
