.qor-bannereditor {
    position: relative;
    overflow: hidden;
    iframe{
        margin: 0 auto;
        max-width: 1200px;
    }

    .qor-bannereditor__contents{
        background: url(../images/bg-transparents.png);
    }

    .qor-bannereditor__toolbar {
        margin: 0 0 24px;
        padding: 0;

        button {
            font-size: 12px;
        }

        li {
            list-style: none;
            display: inline-block;
            vertical-align: middle;
        }
    }
}
