.qor-auth {
    margin: 120px auto;
    max-width: 500px;
    padding: 32px;
    background: rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
    &.qor-auth-light {
        background: none;
        box-shadow: none;
        max-width: 700px;
        ul {
            margin-top: 40px;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            background-color: #fff;
            box-shadow: none;
            border-radius: 0;
            border: 0;
            border-bottom: 1px solid #ccc;
            height: 40px;
            font-size: 14px;
            transition: border-bottom .3s, border-color .3s, border-width .3s,
                border .3s ease-in-out;
            line-height: 1;
            &:focus {
                outline: 0;
                border-bottom: 1px solid #33c3f0 !important;
            }
            &:hover {
                border-bottom: 1px solid #333;
            }
        }
        input[type="text"],
        input[type="email"],
        input[type="password"],
        .button {
            width: 70%;
        }
    }
    .forgot-password {
        float: right;
        margin-top: -30px;
    }
    h1 {
        font-size: 32px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 4px;
    }
    h2 {
        font-size: 16px;
        margin: 24px 0;
    }
    a.signup-link {
        display: inline-block;
        margin-bottom: 32px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        background-color: #fff;
        border: 1px solid #ccc;
        height: 40px;
        font-size: 14px;
        &:invalid {
        }
        &:focus {
            outline: 0;
        }
    }
    .button {
        width: 100%;
        padding: 12px 0;
    }
    label {
        font-size: 14px;
    }
    a {
        font-size: 14px;
    }
}
