<div class="qor-layout__sidebar">
  <div class="sidebar-header">
    {{t "qor_admin.layout.logo" "<a href=\"{{.Prefix}}\"><span class=\"visuallyhidden\">Botsolve Labs</span></a><a href=\"/\" target=\"_blank\">View Site <i class=\"material-icons md-14\" aria-hidden=\"true\">open_in_new</i></a>" .Admin.GetRouter}}
  </div>
  <div class="sidebar-userinfo">
    {{if .CurrentUser}}
      <div>
        <h5>{{.CurrentUser.DisplayName}}</h5>
      </div>
    {{end}}
    <a class="mdl-button mdl-js-button mdl-button--icon" href="{{logout_url}}" title="{{t "qor_admin.account.logout" "logout"}}" alt="{{t "qor_admin.account.logout" "logout"}}"><i class="material-icons">exit_to_app</i></a>
  </div>
  <div class="sidebar-body">
    <div class="qor-menu-container">
      {{if .GetSearchableResources }}
        <div qor-icon-name="Search">
          <span class="qor-global-search--show {{if (eq .Action "search_center")}}active{{end}}" data-placeholder="{{t "qor_admin.search_center.hint" "Search…"}}" data-action-url="{{search_center_path}}">{{t "qor_admin.search_center.title" "Search Center" }}</span>
        </div>
      {{end}}

      {{render "shared/menu" get_menus}}
    </div>
  </div>
  <div class="sidebar-footer">
    Powered by <a href="http://botsolve.com" target="blank">Botsolve Labs</a>
  </div>
</div>
